includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - admin/
        - frontend/
        - includes/
        - integrations/
        - cookie-law-info.php
        - class-autoloader.php
        - uninstall.php
    excludePaths:
        - admin/views/
        - languages/
        - admin/dist/
        - admin/assets/
        - frontend/js/
        - frontend/images/
        - frontend/modules/shortcodes/versions/
        - admin/modules/banners/includes/templates/
        - admin/modules/banners/includes/configs/
        - admin/modules/banners/includes/contents/
        - admin/modules/cookies/includes/contents/
    treatPhpDocTypesAsCertain: false
